* {
    font-family: Roboto, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #1f2937 20%, #1f2937 50%,
    white 40%, white 60% );
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 32px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    line-height: 1.1;
}


a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.logo {
    color: white;
    font-weight: 900;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.links {
    gap: 20px;
    font-size: 14px;

}

.center-content {
    display: flex;
}

.title-test .container {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    padding: 64px 0;
    max-width: 1100px;
    margin: 0 auto;
}

.subtext {
    margin: 0;
    max-width: 42ch;
}

.info-grab {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 14px;

}

.image {
    background-color: grey;
    height: 220px;
    width: 520px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
}

button {
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 90px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
}


